<!DOCTYPE html>
<html>
<link href="/static/style.css"  rel="stylesheet" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="header">
  <h2>The Blog-Celerator</h2>
</div>

<ul>
  <li><a href="{{ url_for('home') }}">Home</a></li>
  <li><a href="{{ url_for('subpage') }}">Create Blogs</a></li>
  <li><a href="#contact">Contact Us</a></li>
  <li><a href="{{ url_for('authorsPage') }}" method="post">Authors</a></li>
  <div class="search">


  <form action="{{ url_for('search') }}" method="post">

  <button class="searchbutton" type="submit" style="font-family: Courier New, Courier, monospace">Search</button>

  <input style="float:centre" type="text" placeholder="Search for a blog..." name="search">
  </form>
  </div>


<div class="ftop">
   <a href="https://www.facebook.com" class="fa fa-facebook"></a>
   <a href="https://plus.google.com/" class="fa fa-google"></a>
   <a href="https://uk.linkedin.com/" class="fa fa-linkedin"></a>
   <a href="https://www.instagram.com/?hl=en" class="fa fa-instagram"></a>
  </div>
</ul>

<div class="row">
  <div class="leftcolumn">
    <div class="card magic" id="card1" style="display: none;">
     <form action="{{ url_for('page') }}" method="post">
        <button class="pleasework" id="head1" onclick=page(j)>Heading</button>
      <input type='text' style="display:none" id="blog_num1" name='id'>
    </form>
      <h5 id="title1">Title description, Dec 7, 2017</h5>
      <p id="blog1">Some text..</p>
      <form action="{{ url_for('deleteBlog') }}" method="post">
      <button onclick=erase(j)>Delete</button>
      <input type='text' style="display:none" id="delete1" name='blog'>
    </form>
    </div>
    <div class="card magic" id="card2" style="display: none;">
      <form action="{{ url_for('page') }}" method="post">
        <button class="pleasework" id="head2" onclick=page(j+1)>Heading</button>
      <input type='text' style="display:none" id="blog_num2" name='id'>
      </form>
      <h5 id="title2">Title description, Sep 2, 2017</h5>
      <p id="blog2">Some text..</p>
      <form action="{{ url_for('deleteBlog') }}" method="post">
      <button onclick=erase(j+1)>Delete</button>
      <input type='text' style="display:none" id="delete2" name='blog'>
    </form>
    </div>
    <div class="card magic" id="card3" style="display: none;">
      <form action="{{ url_for('page') }}" method="post">
        <button class="pleasework" id="head3" onclick=page(j+2)>Heading</button>
      <input type='text' style="display:none" id="blog_num3" name='id'>
      </form>
      <h5 id="title3">Title description, Sep 2, 2017</h5>
      <p id="blog3">Some text..</p>
      <form action="{{ url_for('deleteBlog') }}" method="post">
      <button onclick=erase(j+2)>Delete</button>
      <input type='text' style="display:none" id="delete3" name='blog'>
    </form>
    </div>
    <div class="card magic" id="card4" style="display:none;">
      <form action="{{ url_for('page') }}" method="post">
        <button class="pleasework" id="head4" onclick=page(j+3)>Heading</button>
      <input type='text' style="display:none" id="blog_num4" name='id'>
      </form>
      <h5 id="title4">Title description, Sep 2, 2017</h5>
      <p id="blog4">Some text..</p>
      <form action="{{ url_for('deleteBlog') }}" method="post">
      <button onclick=erase(j+3)>Delete</button>
      <input type='text' style="display:none" id="delete4" name='blog'>
    </form>
    </div>
    <div class="card magic" id="card5" style="display:none;">
      <form action="{{ url_for('page') }}" method="post">
        <button class="pleasework" id="head5" onclick=page(j+4)>Heading</button>
      <input type='text' style="display:none" id="blog_num5" name='id'>
      </form>
      <h5 id="title5">Title description, Sep 2, 2017</h5>
      <p id="blog5">Some text..</p>
      <form action="{{ url_for('deleteBlog') }}" method="post">
      <button onclick=erase(j+4)>Delete</button>
      <input type='text' style="display:none" id="delete5" name='blog'>
    </form>
    </div>
    <div class="card magic" id="card6" style="display:none;">
      <form action="{{ url_for('page') }}" method="post">
        <button class="pleasework" id="head6" onclick=page(j+5)>Heading</button>
      <input type='text' style="display:none" id="blog_num6" name='id'>
      </form>
      <h5 id="title6">Title description, Sep 2, 2017</h5>
      <p id="blog6">Some text..</p>
      <form action="{{ url_for('deleteBlog') }}" method="post">
      <button onclick=erase(j+5)>Delete</button>
      <input type='text' style="display:none" id="delete6" name='blog'>
    </form>
    </div>
    <div>

      <button type="button" onclick=back(k) style="display:none;" id='back'>Back</button>
      <button type="button" onclick=additionalBlogs(k) style="display:none;" id='next'>Next</button>
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <div class="subheader">
       <h3>Create A Blog!</h3>
      </div>
<p>Click <a href="{{ url_for('subpage') }}" method="post" style="text-decoration:none; font-size:18px; color:FFFFFF">here</a> to go and create your own blog! </p>
    </div>
    <div class="card">
       <div class="subheader">
        <h3>Most Viewed Blogs!</h3>
       </div>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div><br>
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <div class="subheader">
       <h3>Contact Us:</h3>
      </div>
        <p></p>
        <p> For more information on our blogs or any of the services provided find us on social media or contact one of the team at:</p>
    </div>
  </div>
</div>

<div class="footer">
   <a href="https://www.facebook.com" class="fa fa-facebook"></a>
   <a href="https://plus.google.com/" class="fa fa-google"></a>
   <a href="https://uk.linkedin.com/" class="fa fa-linkedin"></a>
   <a href="https://www.instagram.com/?hl=en" class="fa fa-instagram"></a>
  </div>
<script>

// Receives an array of arrays containing all the blog information in the style shown below. This information
// is shown on the website for the first 6 blog posts. If there are less than 6, then there are only blocks
// for how many blog posts there are.
// [[title1,author1,date1,content1],[title2,author2,date2,content2]]

blog_array={{blog_array|tojson}}
blog_array.reverse()
var j=0
var k=0
var b=0

for (i=0;i<blog_array.length;i++)
{
  var w = "head"+String(i+1)
  var x = "blog"+String(i+1)
  var y = "card"+String(i+1)
  var z = "title"+String(i+1)
  document.getElementById(y).style.display="block"
  document.getElementById(x).innerHTML=blog_array[i][3]
  document.getElementById(w).innerHTML=blog_array[i][0]
  document.getElementById(z).innerHTML=blog_array[i][1]+", "+blog_array[i][2]
  k+=1
  if (k>5)
  {
    break
  }
}

// Adds the position of the blog post the user has clicked on into a hidden search box so that the
// value can be received by the python code.

function page(m)
{
  var x = "blog_num"+(m-Math.floor(m/6)*6+1)
  var y = b*6
  //document.getElementById("blog1").innerHTML=b
  document.getElementById(x).value=m+y
  document.getElementById("blog1").innerHTML=m+y
}
if (k>5)
{
  document.getElementById("next").style.display="block"
}

// If there are more than 6 blogs, this prints out the next up to 6 blogs in the array.

function additionalBlogs(k_fake)
{
  k=k_fake
  l=k
  counter=1
  divs=document.getElementsByClassName("magic")
  for (m=0;m<divs.length;m++)
  {
    divs[m].style.display="none"
  }
  while (k<blog_array.length && k-l<6)
  {
    var w = "head"+String(counter)
    var x = "blog"+String(counter)
    var y = "card"+String(counter)
    var z = "title"+String(counter)
    document.getElementById(y).style.display="block"
    document.getElementById(x).innerHTML=blog_array[k][3]
    document.getElementById(w).innerHTML=blog_array[k][0]
    document.getElementById(z).innerHTML=blog_array[k][1]+", "+blog_array[k][2]
    k+=1
    counter+=1
  }
  if (k-l<6)
  {
    document.getElementById("next").style.display="none"
  }
  if (k!=6)
  {
  document.getElementById("back").style.display="block"
  }
  else {
    document.getElementById("back").style.display="none"
  }
  b+=1
}

// Prints out the previous 6 blogs to the screen.

function back(k)
{
  k_fake=(Math.floor(k/6)-1)*6
  additionalBlogs(k_fake)
  document.getElementById("next").style.display="block"
  b-=1
}


function erase(m)
{
    var y = m+b*6
    var x = "delete"+(m-Math.floor(m/6)*6+1)
    blog_array.splice(y,1)
    for (i=0;i<blog_array.length;i++)
      blog_array[i][3]+="|"
    blog_array.reverse()
    document.getElementById(x).value=blog_array
}
//document.getElementById("blog1").innerHTML=blog_array[0]
//document.getElementById("blog2").innerHTML=blog_array[1]
//<a href=page(i) method="post">  <h2 id="head1">TITLE HEADING</h2> </a>
//style="display:none;"
</script>
</html>
